In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.metrics import classification_report, accuracy_score
import pickle

df = pd.read_csv("data_C.csv")
df

,Unnamed: 0,id,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,churn
0,0,157138,15638646,Chinweike,628.0,Spain,Female,50.0,4,160133.08,1,1,1,653.53,0
1,1,116144,15695825,Onwumelu,710.0,Spain,Male,34.0,8,0.00,2,1,1,72993.73,0
2,2,145603,15592765,Marks,663.0,France,Female,23.0,8,125470.81,1,1,1,174536.17,0
3,3,79929,15807525,Onyemachukwu,644.0,Spain,Male,45.0,8,0.00,2,0,1,28690.90,0
4,4,52554,15611551,Hill,627.0,Spain,Male,23.0,5,0.00,2,1,0,134483.07,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41253,41253,55217,15641043,Onyemere,641.0,Germany,Male,38.0,2,138166.30,2,0,1,69227.66,0
41254,41254,110969,15674541,Robinson,575.0,France,Male,52.0,8,0.00,2,0,1,111342.66,0
41255,41255,132494,15700601,Kao,571.0,France,Male,34.0,1,119452.03,2,1,1,173511.72,0
41256,41256,31177,15806926,Nkemjika,624.0,France,Male,38.0,4,0.00,1,0,0,40320.30,0
41257,41257,154294,15696231,Chiwetelu,668.0,France,Male,29.0,7,105405.97,1,1,1,149853.89,0

In [ ]:
df.isnull().sum()

Unnamed: 0          0
id                  0
CustomerId          0
Surname             0
CreditScore        12
Geography           0
Gender              0
Age                 0
Tenure              0
Balance             0
NumOfProducts       0
HasCrCard           0
IsActiveMember      0
EstimatedSalary     0
churn               0
dtype: int64

In [ ]:
df['CreditScore'] = df['CreditScore'].fillna(df['CreditScore'].median())

In [ ]:
from sklearn.preprocessing import LabelEncoder

data = ['Geography', 'Gender']
encoded_df = df

label_encoder = LabelEncoder()

for col in data:
  encoded_df[col] = label_encoder.fit_transform(df[col])

In [ ]:
encoded_df.drop(columns=['Surname', 'id', 'Unnamed: 0', 'CustomerId'], axis=1, inplace=True)

In [ ]:
encoded_df.isnull().sum()

CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
churn              0
dtype: int64

In [ ]:
X = encoded_df.drop('churn', axis=1)  # Ganti 'target_column' dengan nama kolom target Anda
y = encoded_df['churn']

# Bagi data menjadi data latih dan data uji
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Latih model Random Forest
rf_model = RandomForestClassifier(n_estimators=100, random_state=42)
rf_model.fit(X_train, y_train)

# Lakukan prediksi dengan model Random Forest
rf_pred = rf_model.predict(X_test)

# Evaluasi kinerja Random Forest
rf_accuracy = accuracy_score(y_test, rf_pred)
print("Random Forest Accuracy:", rf_accuracy)

# Latih model XGBoost
xgb_model = XGBClassifier()
xgb_model.fit(X_train, y_train)

# Lakukan prediksi dengan model XGBoost
xgb_pred = xgb_model.predict(X_test)

# Evaluasi kinerja XGBoost
xgb_accuracy = accuracy_score(y_test, xgb_pred)
print("XGBoost Accuracy:", xgb_accuracy)

# Bandingkan kinerja kedua model dan simpan model terbaik menggunakan pickle
if rf_accuracy > xgb_accuracy:
    best_model = rf_model
    print("Model terbaik adalah Random Forest")
else:
    best_model = xgb_model
    print("Model terbaik adalah XGBoost")

# Simpan model terbaik dalam format pickle
with open('best_model.pkl', 'wb') as f:
    pickle.dump(best_model, f)

Random Forest Accuracy: 0.8537324285021813
XGBoost Accuracy: 0.8612457586039748
Model terbaik adalah XGBoost